@model Return_Order_Portal.Models.ProcessRequest;

@{ ViewData["Title"] = "Form"; }

<h2 style="font-family: 'sans-serif', cursive;  color: aqua; position: relative;">Welcome @ViewBag.Name! Get all your components serviced here!</h2>
@using (Html.BeginForm("ComponentProcessing", "User", FormMethod.Post))
{
        //this is for create form tag
@Html.AntiForgeryToken() // this is for prevent CSRF attack
@Html.ValidationSummary(true) 

<body style="background-color: black">
    <div class="container" style="margin:auto;margin-top:50px;position:relative;z-index:10">
        <h4 class="text-light">Enter Component Details</h4><br />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Submit" method="post">
                    <div class="form-group">

                        <input asp-for="Name" class="form-control" placeholder="Enter FullName" required />
                        <span asp-validation-for="Name" class="text-light"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="ContactNumber" class="form-control" placeholder="Enter Contact Number" required min="10" />
                        <span asp-validation-for="ContactNumber" class="text-light" pattern="[0-9]{10}"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="CreditCardNumber" class="form-control" placeholder="Enter Card Number" required />
                        <span asp-validation-for="CreditCardNumber" class="text-light" pattern="[0-9]{16}"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="CreditLimit" class="form-control" placeholder="Enter Your Current Card Limit" required="" />
                        <span asp-validation-for="CreditLimit" class="text-light"></span>
                    </div>
                    <div class="form-group">

                        <select asp-for="ComponentType" id="type" class="form-control">
                            <option value="Integral">Integral</option>
                            <option value="Accessory">Accessory</option>
                        </select>
                        <span asp-validation-for="ComponentType" class="text-light"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="ComponentName" class="form-control" placeholder="Enter Component Name" required />
                        <span asp-validation-for="ComponentName" class="text-light"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="Quantity" class="form-control" placeholder="Enter Quantity" required />
                        <span asp-validation-for="Quantity" class="text-light"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsPriorityRequest" class="custom-checkbox"><strong><span class="text-light">Is Your Request Urgent ?</span></strong></label>
                        <input asp-for="IsPriorityRequest" id="priority" class="custom-checkbox" placeholder="Is Your Request is Urgent ?" onchange="myGeeks()" />
                        <span asp-validation-for="IsPriorityRequest" class="text-light"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                    <div class="form-group">
                        <div class="btn btn-warning" style="color:blue"> <a asp-controller="User" asp-action="Logout">Log Out</a></div>
                    </div>
                </form>
                   
               
            </div>
            <div class="col-md-8 bg-image hover-overlay ripple">
                <img src="~/images/service.jpg" class="img-fluid rounded hover-shadow" />
                <a href="#!">
                    <div class="mask" style="background-color: black;"></div>
                </a>
            </div>

        </div>
    </div>
    </body>
 }

 
  <script type="text/javascript">function myGeeks() {
            var e = document.getElementById("type");
            var strUser = e.options[e.selectedIndex].text;
            if (strUser == "Integral")
                var g = document.getElementById("priority").disabled
                    = false;
            else
                var g = document.getElementById("priority").disabled
                    = true;
        }</script>  

