@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Return_Order_Portal.Models.Login
@{ ViewBag.Title = "login"; }




<h1 style="font-family: 'Curlz MT', cursive; font-size:60px; color: aqua; position: relative;">Welcome to our portal!</h1>
@using (Html.BeginForm("Authentication", "User", FormMethod.Post))
{
    //this is for create form tag
@Html.AntiForgeryToken() // this is for prevent CSRF attack
@Html.ValidationSummary(true)
<body style="background-color: black">
    <div class="container" style="margin:auto;margin-top:50px;position:relative;z-index:10">
        <h4 class="text-light">Login</h4>
        
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login" method="post">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label text-light"></label>
                        <input asp-for="Username" class="form-control" placeholder="Enter Username" />
                        <span asp-validation-for="Username" class="text-light"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-light"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password" />
                        <span asp-validation-for="Password" class="text-light"></span>
                    </div><br />
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-md-8 bg-image hover-overlay ripple">
                <img src="~/images/welcome.png" class="img-fluid rounded hover-shadow" />
                <a href="#!">
                    <div class="mask" style="background-color: black;"></div>
                </a>
            </div>


        </div>
    </div>
   </body>
    }
    @if (ViewBag.Message != null)
    {
<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>
}
